<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ spec.name }}</title>
</head>
<body>
<div style="width; 120px:">
    <li>
        <h3>{{ spec.name }}</h3>
        <p>{{ spec.code }}</p>
        <p>data {{ spec.start_data }}</p>
        <p>is activate {{ spec.is_activate }}</p>
    </li>
</div>
</body>
</html>